.aside-container {
    grid-area: aside;
    position: sticky;
    top: 0;
    height: 100vh;
    box-shadow: 4px 3px 3px var(--light-grey-color);
}

.sidebar-link > a {
    display: block;
}

.sidebar-link:hover {
    background-color: var(--grey-color);
    font-weight: 700;
    cursor: pointer;
}