.aside-container {
    grid-area: aside;
    position: sticky;
    top: 72px;
    height: calc(100vh - 2rem);
    box-shadow: 4px 3px 3px var(--light-grey-color);
    overflow-y: auto;
}

.sidebar-link > a {
    display: block;
}

.sidebar-link:hover {
    background-color: var(--grey-color);
    font-weight: 700;
    cursor: pointer;
}