@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import './style.css';
@import './navbar.css';
@import './aside.css';

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--primary-black-color);
}

.container {
    margin: auto;
    min-height: 100vh;
    width: 80%;
}

a {
    text-decoration: none;
    color: var(--primary-black-color);
}

ul {
    list-style: none;
}

.hero-content {
    text-align: center;
    margin: auto;
    margin-top: 12rem;
}

.shadow {
    box-shadow: 0px 0px 10px #c3d2ff;
}

.primary-text-color {
    color: var(--primary-color);
}

/* Buttons */

.btn {
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.primary-outline-btn {
    background-color: #fff;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.primary-outline-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Documentation site */

.grid-page-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'header header header header'
    'aside main main main'
    'aside main main main'
    'footer footer footer footer'
    ;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


@media screen and (max-width: 600px) {
    
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 450px) {
    
    html {
        font-size: 70%;
    }
}