.nav-bar {
    display: flex;
    align-items: center;
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.nav-pills:hover {
    color: var(--primary-color);
}

.z-index-0 {
    z-index: 0;
}

.left-nav {
    margin: 1rem;
    margin-left: 1.5rem;
}

.right-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2.5rem;
}

.right-nav li {
    display: inline-block;
    font-weight: 800;
    margin: 1rem;
}

.hamburger-menu, .hamburger-icon {
    display: none;
}

.component-example .hamburger-icon {
    display: block;
    margin-left: auto;
    font-size: 2.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .hamburger-menu {
        display: block;
        padding: 6rem 4rem;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--light-grey-color);
        width: 40%;
        height: 100vh;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    .hamburger-list li {
        font-size: 1.2rem;
        padding: 1rem 0;
    }

    .hamburger-list li a:hover {
        font-weight: 700;
        color: var(--primary-color);
    }

    .hamburger-menu-open {
        transform: translateX(0);
    }

    .hamburger-menu > li {
        padding: 1rem 0;
    }

    .hamburger-menu li a {
        display: inline-block;
    }

    .hamburger-close {
        cursor: pointer;
        font-size: 3rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    .hamburger-icon {
        cursor: pointer;
        display: block;
        font-size: 2.5rem;
        margin-left: auto;
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    
    .left-nav {
        margin-left: 1rem;
    }

    .hamburger-icon {
        margin-right: 1rem;
    }
}
