.card {
    width: 20rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--light-grey-color);
    padding-bottom: 0.5rem;
}

.close {
    margin-left: auto;
    font-size: 1.4rem;
}

.card-title {
    font-weight: 700;
}

.card-body {
    padding-top: 0.5rem;
}