@import './alert.css';
@import './avatar.css';
@import './badge.css';
@import './button.css';
@import './card.css';
@import './img.css';
@import './input.css';
@import './typography.css';
@import './list.css';
@import './toast.css';
@import './grid.css';
@import './modal.css';
@import './rating.css';

.component-example {
    background-color: var(--light-grey-color);
}

.section-hr {
    padding: 1px;
    background-color: #000;
}

.code-example {
    border-radius: 5px;
    max-height: 15rem;
}

.install-code code {
    font-size: 1rem;
    color: var(--primary-color);
    padding: 0 0.25rem;
}

.container-flex-align-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gap-3 {
    gap: 3rem;
}

.container-flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
