.component-example {
    background-color: var(--light-grey-color);
}

.alert-box {
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 5px;
}

.alert-primary {
    background-color: #6A91FF;
    color: #010C2D;
}

.error-alert {
    background-color: var(--error-color);
    color: #000;
}

.success-alert {
    background-color: var(--success-color);
    color: #000;
}

.warning-alert {
    background-color: var(--warning-color);
    color: #000;
}